.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 45vh;
    text-align: center;
    font-size: 24px;
    background: rgba(0, 0, 0, .7);
    z-index: 12;
}